
<div class="row">
    <div class="col-md-12 text-center">



        <div class="box box-primary">
            <div class="box-body">
                <h1>Ultra parking</h1>
                <h3>
                    Ultra parking jest najwygodniejszym sposobem na parkowanie w dużych miastach
                </h3>
                <p>
                    <a href="https://play.google.com/store/apps/details?id=net.silver.kampussggwandroid&hl=pl" class="btn btn-warning btn-lg"><i class="fa  fa-android"></i> Pobierz już dziś &raquo;</a>
                </p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

</div>
<div class="row">
    <div class="col-md-4 box-success">
        <div class="box">
            <div class="box-body">
                <h2>Łatwe wyszukiwanie</h2>
                <p>Aplikacja pokazuje najbliższe parkingi, a nawet pozwala ci rezerwować miejsca.</p>
                <p>
                    <a class="btn btn-default" href="#">Zobcz aplikację &raquo;</a>
                </p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-body">
                <h2>Bez gotówki</h2>
                <p>
                    Korzystając z naszej aplikacji już nie musisz szukać automatów do opłat, poprostu wyjeżdżasz z parkingu a opłata sama się nalicza z twojego konta.
                </p>
                <p>
                    <a class="btn btn-default" href="#">Zapoznaj się z systemem płatności &raquo;</a>
                </p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>

    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-body">
                <h2>Jesteś właścicielem parkingu?</h2>
                <p>
                    Ultra parking to świetna reklama dla twojego parkingu. Aplikacja pozwala zarządzać miejscami parkingowymi jak i rozliczać płatności.
                </p>
                <p>
                    <a class="btn btn-default" href="#">Zapoznaj się z ofertą &raquo;</a>
                </p>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>
