<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index", "Home", new {Area = ""})" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>U</b>P</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Ultra</b> Parking</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    @Html.Partial("Layout/_UserPanel")
                }
                else
                {
                    @Html.Partial("Layout/_Login")
                    ;
                }
            </ul>
        </div>
    </nav>
</header>